div {
    width: 400px;
    height: 400px;
    background-image: url("Screenshot\ 2025-03-09\ 201433.png"); 
    background-size: cover; 
    background-position: center;
  }

  .assign-2-shape-1 {
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
  }
 
  .assign-2-shape-2 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
  }
  

  .assign-2-shape-3 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  .assign-2-shape-4 {
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: top right;
  }
  